<!DOCTYPE html>
<html>
    <head>
        <title>Add Category</title>
    </head>
    <body>
        <main>
            <form method="POST" action="/categories/add">
                <label>Name</label>
                <input type="text" name="name">
                <label>Description</label>
                <input type="text" name="desc">
                <input type="submit" value="Submit">
            </form>
        </main>
    </body>
</html>